<!Doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <input type="text" name="title" multiple="multiple"><br><br> -->
<ul>
	<li><%= posts.title %></li>
	<li><%= posts.content %></li>
</ul>
</body>
</html>
